@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h4>Our database tracks movies, their actors, and their Twitter sentiment.</h4>
    </div>
    <div class="card">
        <div class="card-header">
            Movies
        </div>
        <div class="card-body">
            
        </div>
    </div>
</body>
