html {
  font-size: 14px;
}

body {
        margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h4 {
    color: black;
    font: Arial, sans-serif;
}
.imdbLogo {
    max-height: 100px;
    max-width: auto;
}

/*.navbar-nav flex-grow-1 {
    background-color: crimson;
}*/