html {
  font-size: 14px;
}

body {
    background-color: lightblue; 
    margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

h4 {
    color: white;
    font: Arial, sans-serif;
}